<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/template/head::head"></head>

<body>

    <div id="wrapper">
        <nav th:replace="admin/template/navbar::navbar"></nav>
        <aside th:replace="admin/template/aside::aside"></aside>


        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">

                    <div class="col col-md-12 p-0">

                        <table class="table table-hover table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>STT</th>
                                    <th>Ảnh đại diện</th>
                                    <th>Tên phim</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày cập nhật</th>
                                    <th>Cập nhật thông tin</th>
                                    <th>Xóa phim</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr th:each="movie , itrStat : ${listMovie}">



                                    <td style="vertical-align: middle;" th:text="${itrStat.index + 1}">id</td>
                                    <td style="vertical-align: middle;">
                                        <a th:href="@{/admin/phim/}+${movie.linkMovie}"><img width="80px" height="120px" th:alt="${movie.nameMovie}" th:src="@{/images/movie/}+${movie.linkMovie}+.jpg" th:title="${movie.nameMovie}"></a>
                                    </td>
                                    <td style="vertical-align: middle;" th:text="${movie.nameMovie}"></td>
                                    <td style="vertical-align: middle;" th:if="${movie.status == 0}">Phim sắp chiếu</td>
                                    <td style="vertical-align: middle;" th:if="${movie.status == 1}">Phim đang chiếu</td>
                                    <td style="vertical-align: middle;" th:if="${movie.status == 2}">Phim đã hoàn thành</td>
                                    <td style="vertical-align: middle;" th:text="${#temporals.format(movie.datetimePost, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                    <td style="vertical-align: middle;"><a type="button" class="btn btn-primary" th:href="@{/admin/update/}+${movie.linkMovie}">Cập nhật</a></td>
                                    <td style="vertical-align: middle;"><a type="button" class="btn btn-danger" th:href="@{/admin/delete/}+${movie.idMovie}">Xóa phim</a></td>

                                </tr>

                            </tbody>
                        </table>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/admin/danh-sach-phim-1}">1</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/admin/danh-sach-phim-2}">2</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/admin/danh-sach-phim-3}">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>

                    </div>






                </div>

            </div>
            <div id="page-wrapper">
                <footer th:replace="admin/template/footer::footer"></footer>
            </div>
        </div>

    </div>

</body>

</html>