<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/template/head::head"></head>
<head>
<style type="text/css">
body {
	color: #000000;
	font-weight: 400;
}

.tapphim {
	background-color: #2F323E;
	color: white;
	font-weight: 400;
}

.tapphim:hover {
	background: black;
	color: white;
}

.tapphim:first-child {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}

.tapphim:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

.tapphim_active {
	background-color: black;
}

.abcddd {
	font-size: 28px;
	font-weight: 400;
	color: black;
}
</style>
</head>

<body>

	<div id="wrapper">
		<nav th:replace="admin/template/navbar::navbar"></nav>
		<aside th:replace="admin/template/aside::aside"></aside>


		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">

					<div class="col col-md-8 p-3" th:if="${episode == null}">
						<video th:src="@{/video/movie/default.mp4}" width="100%"
							class="mb-2" controls>
						</video>
						<h4 class="abcddd"
							th:text="'Phim ' + ${movie.nameMovie} + ' chưa có tập nào' "></h4>

					</div>


					<div class="col col-md-8 p-3" th:if="${episode != null}">
						<video th:src="@{/video/movie/}+${episode.linkEpisode}+ '.mp4'"
							width="100%" class="mb-2" controls>
						</video>
						<div class="d-flex flex-wrap">


							<div th:each="episodes, itrStat:  ${movie.episodeSeriesList}">
								<a
									th:classappend="${episode.linkEpisode}  == ${episodes.linkEpisode} ? 'list-group-item mr-3 mb-3 tapphim tapphim_active' : 'list-group-item mr-3 mb-3 tapphim' "
									th:href="@{/admin/xem-phim/} + ${episodes.linkEpisode}"
									th:text="'Tập ' + ${itrStat.index + 1}">item 1</a>

							</div>

						</div>

					</div>

					<div class="col col-md-4 p-3">
						<h4 th:text="'Thông tin phim ' + ${movie.nameMovie} "
							class="m-0 abcddd"></h4>

						<p style="margin-left: 0px;" th:text="${movie.nameEnglish}"
							class="my-1">name english</p>

						<div class="card border-0 border-white">
							<div class="card-body trang_thai">
								<p>
									Trạng thái: <span>Full 55/55 Vietsub</span>
								</p>
								<p>
									Lượt xem: <span th:text=" ${movie.view}"></span>
								</p>
								<p>
									Đạo diễn: <span>Trịnh Vĩ Văn</span>
								</p>
								<p>
									Thời lượng: <span>45 phút / tập</span>
								</p>
								<p>
									Số tập: <span th:text="${movie.numberEpisodeMovie}"></span>
								</p>
								<p>
									Tình trạng: <span th:if=" ${movie.status ==0}">Sắp chiếu</span>
									<span th:if=" ${movie.status ==1}">Đang chiếu</span> <span
										th:if=" ${movie.status ==2}">Hoàn thành</span>
								</p>
								<p>
									Ngôn ngữ: <span>Phụ đề Việt + Lồng tiếng</span>
								</p>
								<p>
									Năm sản xuất: <span th:text="${movie.yearProduce}"></span>
								</p>
								<p class="quoc-gia">
									Quốc gia sản xuất: <a
										th:href="@{/quoc-gia/} + ${movie.country.codeCountry}"
										th:text=" ' ' + ${movie.country.nameCountry} "> </a>
								</p>
								<p class="the-loai">
									Thể loại: <span
										th:each="category, itrStat : ${movie.categoryList}"> <a
										th:href="@{/the-loai/} + ${category.codeCategory}"
										th:if="${itrStat.index} <= ${#lists.size(movie.categoryList) - 1} "
										th:text="${category.nameCategory}">the loai</a> <span
										th:if="${itrStat.index} < ${#lists.size(movie.categoryList)-1} "
										th:text="', '">the loai</span>
									</span>

								</p>
								<p class="dien-vien">
									Diễn viên: <span th:each="actor, itrStat : ${movie.actorList} ">
										<a th:href="@{/dien-vien/} + ${actor.codeActor}"
										th:if="${itrStat.index} <= ${#lists.size(movie.actorList) - 1} "
										th:text="${actor.nameActor}">dien vien</a> <span
										th:if="${itrStat.index} < ${#lists.size(movie.actorList)-1} "
										th:text="', '">dien vien</span>
									</span>
								</p>
							</div>
						</div>
					</div>



					<div class="col col-md-8 p-3">

						<h4 class="abcddd">Thêm tập phim mới</h4>
						<form
							th:action="@{/admin/phim/}+${movie.linkMovie}+ '/them-tap-phim-moi'"
							method="post" enctype="multipart/form-data">

							<div class="custom-file">
								<input type="file" class="custom-file-input"
									id="customFileLangHTML" name="videoEpisode" accept=".mp4">
								<label class="custom-file-label" for="customFileLangHTML">Chọn
									File</label>
							</div>
							
							<div class="form-group my-3">

								<input type="submit" class="btn btn-primary" value="Thêm mới" />
							</div>

						</form>

					</div>
				</div>

			</div>
			<div id="page-wrapper">
				<footer th:replace="admin/template/footer::footer"></footer>
			</div>
		</div>

	</div>

</body>


</html>