<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="web/template/head::head"></head>


<body>
	<nav th:replace="web/template/menu::menu"></nav>
	<div class="container">
		<div class="row content_home">
			<div class="col col-md-9">
				<h4 class="my-3" th:text="${txtCategory}">PHIM MỚI CẬP NHẬT</h4>
				<div class="row">
					<div th:each="movie : ${kqtimkiem}" class="col-lg-3 mb-4">
						<div class="card" style="cursor: pointer;"
							th:title="${movie.nameMovie}">
							<div class="card-body">
								<a th:href="@{/phim/}+${movie.linkMovie}"> <img
									width="200px" height="284px"
									th:src="@{/images/movie/}+${movie.linkMovie}+.jpg"
									th:alt="${movie.nameMovie}">
								</a>
								<div class="card-footer text-white text-center">
									<a style="text-decoration: none; margin-top: 10px;"
										th:href="@{/phim/}+${movie.linkMovie}"> <span
										th:text="${movie.nameMovie}"></span>
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col col-md-3">
				<div th:replace="web/template/sidebar::sidebar"></div>
			</div>
		</div>
	</div>
	<footer th:replace="web/template/footer::footer"></footer>
</body>

</html>