
<head xmlns:th="http:/www.thymeleaf.org" th:fragment="head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title th:text="${title}">Tile</title>
<base href="/">
<link th:href="@{/web/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/web/css/modern-business.css}" rel="stylesheet">

<link th:href="@{/web/css/all.css}" rel="stylesheet">

<!-- <link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"> -->

<style type="text/css">
.img_movie {
	position: relative;
}

.text_block {
	position: absolute;
	top: 0px;
	left: 0px;
	font-weight: 500;
	background-color: #696969;
	color: white;
	padding-left: 0px;
	padding-right: 0px;
}
</style>
</head>
